name: CI

on: [pull_request]

jobs:
  Lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Static Analysis
        run: shellcheck -a src/*/scripts/*

#  Build:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v2
#
#      - name: Static Analysis
#        run: shellcheck */scripts/* # TODO
